.body {
  background: #faf6ff
}

.pageBody {
  background: #faf6ff;
  padding-top: 30px;
}

.well {
  background-color: white;
  border-width: 0px;
}

.App {
  text-align: center;
}

.Main-Nav {
  height: '55px';
  background: white;
}

.Main-Nav-Header {
  padding-top: 5px;
}

.submit_modal {
  display: block; 
  width: 800px; 
  padding-left: 0px;
}

@media only screen and (max-width: 800px) {
  .submit_modal {
    width: 90%;
  }
}

.chars_left {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

.gray-background {
  background-color: #D8D8D8;
  margin-left: -75px;
  margin-right: -75px;
  margin-bottom: -20px;
}

@media only screen and (max-width: 766px) {
  .gray-background {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -20px;
  }
}

.white-background {
  margin-left: -75px;
  margin-right: -75px;
  margin-bottom: -20px;
}

@media only screen and (max-width: 766px) {
  .white-background {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -20px;
  }
}

.App-logo {
  height: 40px;
  align-self: bottom;
  padding: 0;
  margin-top: 2px;
  padding-left: 30px;
  top: 5px;
}

.App-header {
  height: 150px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.person-logo {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 200px;
  width: 200px;
  align-self: center;
}

.required_field {
  text-align: left;
  float: left;
  display: inline;
  font-size: 12px;
  font-style: italic;
}

.nominee_name {
  text-align: left;
  float: left;
  display: inline;
}

.nominee_flag {
  float: right;
  display: inline;
}

.align_right {
  margin-left: 10px;
  width: 130px;
  float: right;
  display: inline;
}

.align_right_text {
  float: right;
  display: inline;
}

.align_left {
  margin-left: 10px;
  width: 130px;
  float: left;
  display: inline;
}

.align_left_text {
  float: left;
  display: inline;
}

@media only screen and (min-width: 1000px) {
  .person-logo {
    padding-top: 20px;
    align-self: center;
  }
}

.topnav {
  width: 100%;
  z-index: 99;
  background-color: rgb(142, 159, 245);
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 11px 11px;
  text-decoration: none;
  font-size: 16px;
  width: 33.3%;
}

.topnav a:hover {
  background-color: #6B7BD0;
  color: white;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.active {
  background-color: #4E5EB3;
  color: black;
}

.topnav .icon {
  display: none;
}

* {
  box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
  float: left;
  width: 33.3%;
  padding: 8px;
  background-color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  padding: 2rem;

  .modal-content {
    background-color: white;
    max-height: 80%;
    height: 80%;

    .modal-title {
      padding: 0 2.25rem;
      height: 5rem;
      max-height: 5rem;
      text-transform: uppercase;
      font-size: 1.8rem;
    }

    .modal-body {
      height: calc(100% - 16rem);
      overflow-y: scroll;
      padding: 0 2rem;
    }

    .modal-footer {
      height: 5rem;
      max-height: 5rem;
      padding: 0 2.25rem;
    }
  }
}

/* Style the list */
.person {
  list-style-type: none;
  border: 1px solid #eee5f8;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2)
}

/* Add shadows on hover */
.person:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Person header */
.person .header {
  height: 60px;
  background-color: white;
  color: black;
  font-size: 20px;
  text-align: 'left';
  padding-top: 13px;
  padding-left: 9px;
  padding-right: 9px;
}

/* List items */
.person li {
  border-bottom: 1px solid #eee;
  text-align: center;
}

/* Grey list item */
.person .dua {
  background-color: white;
  font-size: 15px;
  font: Helvetica;
  border-color: #eee5f8;
}

.person.content {
  background-color: white;
  height: 500px;
  clear:both
}

/* The "Sign Up" button */
.button {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}

.action-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  background-color: transparent;
  border-radius: 0.35em;
  border: solid 3px #79589F;
  color: #471e98 !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 2.5em;
  height: calc(2em + 6px);
  line-height: 2em;
  min-width: 10em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  width: 212px;
}

.edit-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  color: #79589F !important;
}

.edit-button:hover {
  color: black !important;
}

.action-button:hover {
  background-color: #5d407f;
  color: white !important;
}

/* Change the width of the three columns to 100% 
(to stack horizontally on small screens) */
@media only screen and (max-width: 1050px) {
  .columns {
    width: 100%;
  }
}

a.avatar {
  border-radius: 100%;
}

  a.avatar:before {
    display: none;
  }

  a.avatar img {
    border-radius: 100%;
    width: 100%;
  }
